<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <h1 align="center">Sign Up</h1>
    <br><br><br><br>

    <h1 align="center">Unit Holder</h1>
    <div class="container">
    <input type="text" name="" class="form-control" id="person_name" placeholder="Your Name">
    <input type="password" name="" class="form-control" id="password" placeholder="Password">
    <input type="text" name="" class="form-control" id="unit_name" placeholder="Unit Name">
    <input type="text" name="" class="form-control" id="email" placeholder="Email">
    <input type="text" name="" class="form-control" id="phone_number" placeholder="Phone Number">
    
    Are you a human?<h3 id="numbers"></h3>
    

    <div id="callback_unit" style="color:red;"></div>
    <button id="submit" class="btn btn-md" style="background-color: white;border-color:black;color:black;" disabled />Sumbit</button>
       
    </div>
<br><br><br><br>
<h1 align="center">Neem Tree Staff</h1>
    <div class="container">
    <input type="text" name="" class="form-control" id="name_neem" placeholder="Name">
    <input type="password" name="" class="form-control" id="password_neem" placeholder="Password">
    <input type="text" name="" class="form-control" id="email_neem" placeholder="Email">
    <input type="text" name="" class="form-control" id="phone_number_neem" placeholder="Phone Number">
    Are you a human?<h3 id="numbers_staff"></h3>


    <div id="callback_staff" style="color:red;"></div>
    <button id="neem_submit" class="btn btn-md" style="background-color: white;border-color:black;color:black;" disabled />Sumbit</button>
      
    </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>

  <script type="text/javascript">
  
  var captcha_1 = Math.floor((Math.random() * 10) + 1);
  var captcha_2 = Math.floor((Math.random() * 10) + 1);
  var captcha_3 = Math.floor((Math.random() * 10) + 1);
  var captcha_4 = Math.floor((Math.random() * 10) + 1);
  var captcha_total = captcha_2 + captcha_1
  var captcha_total_staff = captcha_3 + captcha_4


  $("#numbers").html(captcha_1+'+'+captcha_2+'='+'<input type="text" name="total" id="total" class="col-md-1">');
  $("#numbers_staff").html(captcha_3+'+'+captcha_4+'='+'<input type="text" name="total" id="total_staff" class="col-md-1">');


  $("#total").on('keyup', function(){
    jQuery.fn.extend({
        disable: function(state) {
            return this.each(function() {
                this.disabled = state;
            });
        }
    });
    if ($("#total").val() != captcha_total)

    {
      $("#submit").prop('disabled', true);
    $("#callback_unit").text('incorrect captcha!')

    }
    else{
      $("#callback_unit").text('')
      $("#submit").prop('disabled', false);
    }
  });


  $("#total_staff").on('keyup', function(){
    jQuery.fn.extend({
        disable: function(state) {
            return this.each(function() {
                this.disabled = state;
            });
        }
    });
    if ($("#total_staff").val() != captcha_total_staff)

    {
      $("#neem_submit").prop('disabled', true);
    $("#callback_staff").text('incorrect captcha!')

    }
    else{
      $("#callback_staff").text('')
      $("#neem_submit").prop('disabled', false);
    }
  });


   //Submiting Unit Holder
  $("#submit").on('click', function(){
    var person_name = $("#person_name").val();
    var password = $("#password").val();
    var unit_name = $("#unit_name").val();
    var email = $("#email").val();
    var phone_number = $("#phone_number").val();
    
    //checking if values are not empty, if not, post!
    if (person_name.length ===0) {
      $("#callback_unit").text('Person Name is empty');
    }
    else if(password.length === 0){
      $("#callback_unit").text('Password is empty'); 
    }

    else if(email.length === 0){
      $("#callback_unit").text('Email is empty');

    }
  else if(phone_number.length === 0){
      $("#callback_unit").text('Phone Number is empty');

    }

    else if(unit_name.length === 0){
      $("#callback_unit").text('Unit Name is empty');

    }
    else{
      data = JSON.stringify({'person_name':person_name,'password':password,'unit_name':unit_name,'email':email,
        'phone_number':phone_number})
          $.ajax({
  type: "POST",
  url: '/add_unit_holder',
  contentType:"application/json; charset=utf-8",
  data: data,
  success: function(data){
    $("#callback_unit").html('<h3 style="color:green !important;">Success<h3>'+'<a href="/login"><button class="btn btn-md" style="color:green;background-color:white ;border-color:green;">Login</button></a><br><br>');
  },
  dataType: "json"
});
  

    }
  });

    

   //Submiting Neem Tree Staff
  $("#neem_submit").on('click', function(){
    var name = $("#name_neem").val();
    var password = $("#password_neem").val();
    var email = $("#email_neem").val();
    var phone_number = $("#phone_number_neem").val();
    
    //checking if values are not empty, if not, post!
    if (person_name.length ===0) {
      $("#callback_staff").text('Person Name is empty');
    }
    else if(password.length === 0){
      $("#callback_staff").text('Password is empty'); 
    }

    else if(email.length === 0){
      $("#callback_staff").text('Email is empty');

    }
  else if(phone_number.length === 0){
      $("#callback_staff").text('Phone Number is empty');

    }

    else{
      data = JSON.stringify({'name':name,'password':password,'email':email,'phone_number':phone_number})
         
   $.ajax({
  type: "POST",
  url: '/add_staff',
  contentType:"application/json; charset=utf-8",
  data: data,
  success: function(data){
    $("#callback_staff").html('<h3 style="color:green !important;">Success<h3>'+'<a href="/login"><button class="btn btn-md" style="color:green;background-color:white ;border-color:green;">Login</button></a><br><br>');
  },
  dataType: "json"
});
  

    }
  });

</script>
</html>