<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Add Intern</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <h1 align="center">Add Intern</h1>
    <br><br><br><br>

    <div class="container">
    <form  method="post" enctype="multipart/form-data" id="form_data" action="/add/intern">
    <input type="text"  class="form-control" name="name"         placeholder=" Name">
    <input type="text"  class="form-control" name="start_date"   placeholder="Start Date in DD/MM/YYYY">
    <input type="text"  class="form-control" name="email"        placeholder="Email">
    <input type="text"  class="form-control" name="phone_number" placeholder="Phone Number">
    <input type="file"  value="Browse"       name="img"><br>
    
    <button id="submit">Sumbit</button>
    </form>


    <div id="callback" style="color:red;"></div>
   
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>

</html>