<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Edit Intern</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/card.min.css">

  </head>
  <body style="font-family: 'Raleway', sans-serif;">
   <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: black;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style="color:red;font-size:1.2vw;">NEEM TREE</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/unit" style="color:red;font-size:1vw;">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  
<div class="dropdown">
  <a class="btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1vw;color:red;">
    {{user.name}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</div>
</nav>

<br><br>

    <h1 align="center" >Edit {{intern.name}}</h1>
    <h3 align="center">Enter data only in the ones you want to change, leave the rest empty.</h3>
    <br><br>

    <div class="container">

    <h5>The current value is {{intern['name']}}</h5>
    <input type="text"  class="form-control" id="name"          placeholder="Name" class="form-control"><br><br>
      
    <h5>The current value is {{intern['start_date']}}</h5>
    <input type="date"  class="form-control" id="start_date"   placeholder="Start Date in DD/MM/YYYY" class="form-control"><br><br>

    <h5>The current value is {{intern['end_date']}}</h5>
    <input type="date"  class="form-control" id="end_date"        placeholder="End Date" class="form-control"><br><br>

    <h5>The current value is {{intern['email']}}</h5>
    <input type="text"  class="form-control" id="email"        placeholder="Email" class="form-control"><br><br>



    <h5>The current value is {{intern['phone_number']}}</h5>
    <input type="text"  class="form-control" id="phone_number" placeholder="Phone Number" class="form-control"><br><br>


    <h3 style="color:red;">{{error}}</h3>
    <button id="submit" class="btn btn-md" style="background-color: white;color: green;border-color: green;">Sumbit</button>
    <button  class="btn btn-md" onclick="deletthis('{{intern._id}}')" style="background-color: white;color: red;border-color: red;">Delete Intern</button>


{% if type == 'staff' %}
    <h3 align="center" >Press the red button to cancel the appropriate scheme.</h3>
    <br><br>
    <div class="row">
    <div align="center">
    {% for i in intern['scheme'] %}
    <button class="btn btn-md btn-danger" onclick="{{i['type']}}()">{{i['type']}}</button>
    {% endfor %}
   
    </div>
    </div>
    {% endif %} 
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>

  <script>
  //delete intern
  function deletthis(id){
      data = {}
    data['id'] = id;
    data['done_by'] = "{{user['name']}}";
    if (confirm("Are you sure you want to delete {{intern['name']}}?") == true){
  

  $.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/interns/delete",
  dataType: "json",
  data: JSON.stringify(data),
  success: function (data) {
    window.location = "/interns";
  
  }
});

  }
  
  else{
    x= 'asd '
  
  }
}

  $("#submit").on('click', function(){
  var name = $("#name").val()
  var start_date = $("#start_date").val()
  var end_date = $("#end_date").val()
  var email = $("#email").val()
  var phone_number = $("#phone_number").val()
  console.log(name);
  data = '';
  var data = {};
  
  if (name != 0){
    data["name"] = name
    
  }
  if (start_date != 0){
    data["start_date"] = start_date
   
  }
  if (end_date != 0){
    data["end_date"] = end_date
    
  }
  if (email != 0){
    data["email"] = email
    
  }
  if (phone_number != 0){
    data["phone_number"] = phone_number

  }


  $.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/{{intern['_id']}}/edit",
  dataType: "json",
  data: JSON.stringify(data),
  success: function (data) {


   if (data.response.length != 0){
    window.location = "/intern/{{intern['_id']}}";
  }

}
});

  })


  function snack() {
    data = {};
    data['intern_name'] = "{{intern['name']}}"
    data['type'] = "snack"
    if (confirm("Are you sure you want to remove Snack as a scheme for {{intern['name']}}") == true){
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/remove/scheme",
        dataType: "json",
        data : JSON.stringify(data),
        success: function (data){
        window.location = "/intern/"+data.id;
        }
     })

    }
    else{
      x = "You pressed Cancel!";
    }
  }
   function breakfast() {
    data = {};
    data['intern_name'] = "{{intern['name']}}"
    data['type'] = "breakfast"
    if (confirm("Are you sure you want to remove Breakfast as a scheme for {{intern['name']}}") == true){
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/remove/scheme",
        dataType: "json",
        data : JSON.stringify(data),
        success: function (data){
        window.location = "/intern/"+data.id;
        }

      })
    }
    else{
      x = "You pressed Cancel!";
    }
  }
   function lunch() {
    data = {};
    data['intern_name'] = "{{intern['name']}}"
    data['type'] = "lunch"
    if (confirm("Are you sure you want to remove Lunch as a scheme for {{intern['name']}}") == true){
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/remove/scheme",
        dataType: "json",
        data : JSON.stringify(data),
        success: function (data){
        window.location = "/intern/"+data.id;
        }

      })
    }
    else{
      x = "You pressed Cancel!";
    }
  }
   function dinner() {
    data = {};
    data['intern_name'] = "{{intern['name']}}"
    data['type'] = "dinner"
    if (confirm("Are you sure you want to remove Dinner as a scheme for {{intern['name']}}") == true){
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/remove/scheme",
        dataType: "json",
        data : JSON.stringify(data),
        success: function (data){
        window.location = "/intern/"+data.id;
        }

      })
    }
    else{
      x = "You pressed Cancel!";
    }
  }
 
</script>
</html>