<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Intern List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

     <link rel= "stylesheet" href= "{{url_for('static',filename='interns.css') }}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/reveal.min.css">

    <link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/card.min.css">
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"  crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="font-family: 'Raleway', sans-serif;
  background-color: black;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style="color:red;font-size:1.2vw;">NEEM TREE</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/unit" style="color:red;font-size:1vw;">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown" style="background-color: transparent;font-size: 1vw;color:red;">
  <a class="btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1vw;color:red;">
    {{user.name}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</div>
  </nav>

<br><br><br>

<div class="container ">
  <input type="text" class="form-control" name="" placeholder="Search by name" id="search">




  <br><br>
  <div class="row" id='intern_list' style="padding-right: 15px;">

    {% for intern in interns %}

<div class="ui card" id="intern">

  <div class="image">
     <img  src="~/interns/img/{{intern[5]}}">
  </div>

  <div class="content">
    <a class="header" href="/{{intern[6]}}">{{intern[0][0]}}</a>
    <div class="description">
      Interns at {{intern[2]}}<br>

      </div>
  </div>
  

  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{intern[1]}}
    </a>
  </div>




 <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{intern[4]}}
    </a>
  </div>


 <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{intern[3]}}  INR
    </a>
  </div>

</div>
    {% endfor %}
</div>
   </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
  <script>
    

  </script>
  <script>
  //Search

    $('#search').keyup(function(){
    var search_term = $(this).val();

    if(search_term != ''){

$.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/search",
  dataType: "json",
  data: JSON.stringify({'query': search_term}),
  success: function (data) {


   if (data.response.length != 0){
    reply = '';
    for (i = 0; i < data.response.length; i++){

      reply = reply+'<ul>  <li>  <div class="ui card">  <div class="image">  <img src="/static/img/'+data.response[i][1]+'"></img>  <div class="content"> <a href="/'+data.response[i][2]+'"> '  +data.response[i][0]+  '</a>  </div>  </li>  </ul>'

      $("#intern_list").html(reply);
    }} 
    if (data.response.length == 0){
      $("#intern_list").html(
        '<h3>'+'No results'+'</h3>'
        )

    }
    



    }

  });

}

if (search_term == ''){
  $("#intern_list").html(
    '<h3>'+'Please refresh the page for the full list again.'+'</h3>'
    )

}
});

</script>
</html>