<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Intern List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel= "stylesheet" href= "{{url_for('static',filename='intern_page.css') }}">
    <link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/card.min.css">

  </head>
  <body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="font-family: 'Raleway', sans-serif;
  background-color: black;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style="color:red;font-size:1.2vw;">NEEM TREE</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/unit" style="color:red;font-size:1vw;">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown" style="background-color: transparent;font-size: 1vw;color:red;">
  <a class="btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1vw;color:red;">
    {{user.name}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</div>
  </nav>
  <div class="container">
    <br>

<div align="center">
<div class="ui card">
  <div class="image">
     <img class="img" src="../static/img/{{intern.img}}">
  </div>
  <div class="content">
    <a class="header">{{intern.name}}</a>
    <div class="meta">
      
    </div>
    <div class="description">
      {{intern.name}} interns at {{intern.unit_name}}<br>

      </div>
  </div>
  

  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{intern.email}}
    </a>
  </div>


 <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{intern.start_date}}
    </a>
  </div>


 <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{intern.phone_number}}
    </a>
  </div>


 <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{intern.balance}} INR
    </a>
  </div>


 <div class="extra content">
    <a>
      <i class="user icon"></i>
     {{intern.end_date}}
    </a>
  </div>


 <div class="extra content">
    <a>
      <i class="user icon"></i>
     {% for i in intern.scheme%}
     {{i.type}} from<br> {{i.start_date}} to {{i.end_date}}<br><br>
     {% endfor %}
    </a>
  </div>






</div>
</div >
<br><br><br>
<div align="center">
<a href="/add_scheme/{{intern._id}}"><button class="btn btn-lg" >Add Scheme</button></a>
  
</div>
  </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>