<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Staff | Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/label.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/reveal.min.css">
     <link rel= "stylesheet" href= "{{url_for('static',filename='home_staff.css') }}">
<script type=></script>
  </head>
  <body style="font-family: 'Raleway', sans-serif;">
 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style="color:red;font-size:1.2vw;">NEEM TREE</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/superuser" style="color:red;font-size:1vw;">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  
<div class="dropdown">
  <a class="btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1vw;color:red;">
  superuser
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</div>
</nav>

<br><br><br><br><br>

<div style="position: relative;left: 20%;"> 

<!-- row one -->
  <div class="row">

<a href="/approve/superuser/staff">
<div class="card">
  <div class="card-block">
  <div class="ui move reveal">
  <div class="visible content">

  {% if staff != 0 %}
  <li class="list-group-item" style="font-size: 15px;">Staff to approve!</li>
      {% endif %}
       <img src="../static/icons/approve.jpg">
   

  </div>
  <div class="hidden content">

   <h3 align="center">Approve Staff</h3>
  </div>
</div>
  </div>
</div>
</a>

<div class="space"></div>

<a href="/approve/superuser/unit">
<div class="card">
  <div class="card-block">
  <div class="ui move reveal">
  <div class="visible content">

  {% if unit_holder != 0 %}
  <li class="list-group-item" style="font-size: 15px;">Unit Holders to approve!</li>
      {% endif %}
       <img src="../static/icons/approve.jpg">
   

  </div>
  <div class="hidden content">

   <h3 align="center">Approve Units</h3>
  </div>
</div>
  </div>
</div>
</a>

  </div> 
  <br><br>

</div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>